@use "../utils" as *;

.project-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: $transition-base;

  &:hover {
    transform: translateY(-10px) scale(1.02);
  }

  &__title {
    margin-top: 10px;
  }

  &__text {
    font-size: 14px;
  }
}
