@use "../utils" as *;
.hero {
  height: 100vh;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(270deg, #7c3aed, #10b981);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;

  &__avatar {
    width: 140px;
    border-radius: 50%;
    margin-bottom: 20px;
    animation: fadeSlide 1s ease;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 20px;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
